<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
	<default>
		<payment>
			<visma_pay>
				<active>1</active>
				<title>Visma Pay</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPay</model>
				<sort_order>100</sort_order>
                <description></description>
				<min_order_total>0.01</min_order_total>
				<limitcurrency>1</limitcurrency>
				<embedded>1</embedded>
				<bank_payments>1</bank_payments>
				<creditcards_payments>1</creditcards_payments>
				<invoice_payments>1</invoice_payments>
				<wallet_payments>1</wallet_payments>
				<send_items>1</send_items>
				<send_receipt>1</send_receipt>
			</visma_pay>
			<visma_pay_creditcards>
				<active>1</active>
				<title>Credit cards</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayCreditcards</model>
				<sort_order>112</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_creditcards>
			<visma_pay_mobilepay>
				<active>1</active>
				<title>MobilePay</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayMobilepay</model>
				<min_order_total>0.01</min_order_total>
				<sort_order>113</sort_order>
			</visma_pay_mobilepay>
			<visma_pay_masterpass>
				<active>1</active>
				<title>Masterpass</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayMasterpass</model>
				<min_order_total>0.01</min_order_total>
				<sort_order>114</sort_order>
			</visma_pay_masterpass>
			<visma_pay_siirto>
				<active>1</active>
				<title>Siirto</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPaySiirto</model>
				<min_order_total>0.01</min_order_total>
				<sort_order>116</sort_order>
			</visma_pay_siirto>
			<visma_pay_aktia>
				<active>1</active>
				<title>Aktia</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayAktia</model>
				<sort_order>103</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_aktia>
			<visma_pay_danskebank>
				<active>1</active>
				<title>Danskebank</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayDanskebank</model>
				<min_order_total>0.01</min_order_total>
				<sort_order>104</sort_order>
			</visma_pay_danskebank>
			<visma_pay_handelsbanken>
				<active>1</active>
				<title>Handelsbanken</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayHandelsbanken</model>
				<sort_order>105</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_handelsbanken>
			<visma_pay_nordea>
				<active>1</active>
				<title>Nordea</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayNordea</model>
				<sort_order>102</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_nordea>
			<visma_pay_omasaastopankki>
				<active>1</active>
				<title>Oma Säästöpankki</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayOmasaastopankki</model>
				<sort_order>106</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_omasaastopankki>
			<visma_pay_osuuspankki>
				<active>1</active>
				<title>Osuuspankki</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayOsuuspankki</model>
				<sort_order>101</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_osuuspankki>
			<visma_pay_paikallisosuuspankki>
				<active>1</active>
				<title>Paikallisosuuspankki</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayPoppankki</model>
				<sort_order>107</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_paikallisosuuspankki>
			<visma_pay_saastopankki>
				<active>1</active>
				<title>Säästopankki</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPaySaastopankki</model>
				<sort_order>108</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_saastopankki>
			<visma_pay_spankki>
				<active>1</active>
				<title>S-Pankki</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPaySpankki</model>
				<sort_order>109</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_spankki>
			<visma_pay_alandsbanken>
				<active>1</active>
				<title>Ålandsbanken</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayAlandsbanken</model>
				<sort_order>110</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_alandsbanken>
			<visma_pay_nordeab2b>
				<active>1</active>
				<title>Nordea B2B</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayNordeab2b</model>
				<sort_order>111</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_nordeab2b>
			<visma_pay_danskebankb2b>
				<active>1</active>
				<title>Danskebank B2B</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayDanskebankb2b</model>
				<sort_order>111</sort_order>
				<min_order_total>0.01</min_order_total>
			</visma_pay_danskebankb2b>
			<visma_pay_oplasku>
				<active>1</active>
				<title>OP Lasku</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayOPLasku</model>
				<sort_order>118</sort_order>
				<min_order_total>0.01</min_order_total>
				<max_order_total>5000.00</max_order_total>
			</visma_pay_oplasku>
			<visma_pay_fellowfinance>
				<active>1</active>
				<title>Alisa Lasku</title>
				<order_status>pending_payment</order_status>
				<payment_action>Sale</payment_action>
				<model>Visma\VismaPay\Model\VismaPayFellowfinance</model>
				<min_order_total>0.01</min_order_total>
				<sort_order>119</sort_order>
			</visma_pay_fellowfinance>
		</payment>
	</default>
</config>
